.tarjeta2 {
    width: 200px;
    height: 300px;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    justify-content: center;
  }
  .price-value {
    display: flex;
    color: #05060f;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 700;
  }
  .check-list {
    display: flex;
    flex-direction: column;
}
  
  .check-list-item {
    display: flex;
    align-items: center;
  }

.tarjeta-contenedor{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;

}
.tarjeta{
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 35rem;
    height: 25rem ;
    display: flex;
    padding: 20px;
    height: 30rem;
}
.tarjeta h6{
    opacity: 0.6;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: black;
}
.card-left-column{
    color: black;
    padding: 4rem;
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #93D6E4;
    max-height: 30rem;
}
.card-left-column i{
    width: 30px;
    height: 30px;
}
.card-rigth-column{
    padding: 2rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 20rem;
    max-height: 30rem;
}

@media(max-width: 100%){
  .tab2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
.card-body-pedido{
  width: 290px;
  height: 306px;
}
