#form{
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    justify-content: center;
    position: fixed;
    top: 30%;
    left: 28%;
    padding: 40px 0;

}
.form{
    width: 100%;
    margin: auto;
}
h1{
    text-align: center;
    font-weight: 500;
    position: fixed;
    top: 20%;
    left: 35%;
}

form .grupo{
    position: relative;
    margin: 45px;
}

input{
    background:#e77d7d ;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 20px;
    height: 32px;
}
input:focus{
    outline: none;
    color: rgb(44, 42, 42);
    font-family: 'Merienda', cursive;
    font-size: 15px;
}
.label{
    font-size: 16px;
    position: absolute;
    color: rgb(44, 42, 42);
    left: 5px;
    top: 1px;
    transition: 0.5s ease all;
    pointer-events: none;
}
input:focus~.label,
input:valid~.label{
    top: -26px;
    font-size: 14px;
    color: #0f6ae0;
}
button{
    font-family: 'Merienda', cursive;
    background: #CA1C1C;
    border: none;
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #FFFFFF;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

/*iconos*/
img{
    width: 25px;
    height: 25px;
}
.añadir{
    width: 45px;
    height: 45px;
}