.container-fluid{
    color: black;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Diphylleia', serif;
    font-family: 'Imprima', sans-serif;
    font-size: 18px;
}
.registro-header{
    overflow: hidden;
}

.registrar{
    padding: 1em;
    color: black;
    float: left;
    width: 207px;
    height: 100px;
}
.caja{
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 5px;
}
select{
    background: #e77d7d;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}
input{
    background: #e77d7d;
    width: 125px;
}
.registrar button{
    border-radius: 10px;
    width: 100px;
    background: #ecb3b3;
    cursor: pointer;
    border: none;
    border: solid 1px #e77d7d;
}

.registrar button:hover{
    background-color: #7dc9e7;
    border: none;
    border: solid 1px #3fa0c7;
}

.total{
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    
}
.total label{
    width: 200px;
    margin-right: 45%;
    background: #e77d7d;
}
.total button{
    background-color: #ecb3b3;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    border: solid 1px #e77d7d;
}
.total button:hover{
    background-color: #7dc9e7;
    border: none;
    border: solid 1px #3fa0c7;
}
